/* .light {
    color:turquoise;
    background: black;
    border: 10px dotted turquoise;
  
} */
/* .dark {
    color: black;
    background: turquoise;
    border: 10px dotted black;
} */
.light {
    color: #FFF;
    background-color: #333;
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
  
}
.dark {
    color: #FFF;
    background-color: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
}